.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-weight: 200;
}

@media (max-width:979px) {
    .center-screen {
        min-height: fit-content;
    }  
}

.user-form {
    border: 1px solid #eee;
    background: #f5f5f5;
    opacity: .9;
    padding: 5% 10%;;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 3px #eee;
}

.user-form h1{
    text-align: center;
    line-height: 1.2em;
    font-weight: 700;
    color: #328b9d;
}
.user-form p {
    text-align: center;
    line-height: 1.2em;
}